body {
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  padding-top: 20px;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
}

#reportContent {
  margin-top: 20px;
}

#btnDescargar {
  width: 100%;
}

.nav-item {
  margin-bottom: 10px;
}

/* Mejorar la apariencia de las tablas */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

h3 {
  color: #007bff;
}
